*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: arial, sans-serif;
}
h1{
    text-align: center;
    margin: 20px 0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvY2t8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 300px;
    height: 100px;
    background-color: rgb(255, 162, 0);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.stopwatch{
    margin-top: 8px;
    padding: 10px;
    height: 100px;
    background-color: rgb(255, 162, 0);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
input{
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}