*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-size: cover;
    background-image: url("https://static-cse.canva.com/blob/1145215/1.magebyRodionKutsaevviaUnsplash.jpg");

}
h1{
    margin: 50px 50px;
    text-align: center;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
input{
    height: 30px;
    width: 200px;
    padding: 5px;
    border: 2px solid #ccc;
}
#submit:hover
{   
    background-color: peachpuff;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card{
    width: 150px;
    height: 100px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card span{
    font-size: 12;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}
.result{
    margin: 30px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}