*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-size: cover;
    background-image: url("https://static-cse.canva.com/blob/1145215/1.magebyRodionKutsaevviaUnsplash.jpg");

}
h1{
    margin: 50px 50px;
    text-align: center;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
input{
    height: 30px;
    width: 200px;
    padding: 5px;
    border: 2px solid #ccc;
}
#submit:hover
{   
    background-color: peachpuff;
}